export ENVIRONMENT=development
#ENV FORMAT : development/production

#Server
export AUTH_SERVICE_ADDR=:8080

#JWT
export JWT_SECRET=your_secret_jwt_key
export ACCESS_TOKEN_TTL=30m
export REFRESH_TOKEN_TTL=48h
#TOKEN_TTL FORMAT : 1h (hour),1m (minute), 1s (second) , 5m30s, 1h30m

# Argon2 параметры хэширования паролей
# Memory : память в мегабайтах (рекомендуется минимум 64, лучше 128)
# Iterations : кол-во проходов, больше -> медленнее -> безопаснее
# Parallelism : кол-во параллельных потоков внутри одного хеширования, обычно равно кол-ву ядер CPU
# Salt Length : кол-во случайных байт для соли(случайного набора байт)
# Key Length : кол-во байт для хэша
# Max Concurrency : кол-во одновременных хэширований на сервере
export MEMORY=64
export ITERATIONS=3
export PARALLELISM=2
export SALT_LENGTH=16
export KEY_LENGTH=32
export MAX_CONCURRENCY=12

# Rate Limiter Config
export RATE_LIMIT_MAX_REQUESTS=10
export RATE_LIMIT_WINDOW_SIZE=1m